In [2]:
from pydruid.db import connect
import pandas as pd

In [3]:
conn = connect(host='hadoopmn-gsi-prod03.mpmg.mp.br', port=8888, path='/druid/v2/sql/', scheme='http')

# Test

In [3]:
query_homologacao_test = """
    SELECT *
    FROM fato_licitacao_homologacao
    LIMIT 10
"""

In [4]:
df_homologacao_test = pd.read_sql_query(query_homologacao_test, con=conn, coerce_float=False)

In [5]:
df_homologacao_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   __time                   10 non-null     object
 1   ano_exercicio            10 non-null     object
 2   cod_entidade             10 non-null     object
 3   cod_entidade_entrega     10 non-null     object
 4   cod_municipio            10 non-null     object
 5   data_cotacao             10 non-null     object
 6   data_cotacao_show        10 non-null     object
 7   data_homologacao         10 non-null     object
 8   data_homologacao_show    10 non-null     object
 9   link_contrato            10 non-null     object
 10  mes_licitacao            10 non-null     object
 11  metadata_data_ingestao   10 non-null     object
 12  metadata_id_carga        10 non-null     object
 13  nome_entidade_entrega    10 non-null     object
 14  nome_homologado          10 non-null     object
 15  nome_item                10 non-null     object
 16  nome_lote                10 non-null     object
 17  num_contrato             10 non-null     object
 18  num_cpf_cnpj_homologado  10 non-null     object
 19  num_item                 10 non-null     object
 20  num_lote                 10 non-null     object
 21  percent_referencia       10 non-null     object
 22  qtde_item                10 non-null     object
 23  qtde_item_cotado         10 non-null     object
 24  qtde_item_homologado     10 non-null     object
 25  unidade_medida           10 non-null     object
 26  uuid_homologacao         10 non-null     object
 27  uuid_homologado          10 non-null     object
 28  uuid_licitacao           10 non-null     object
 29  uuid_licitacao_item      10 non-null     object
 30  vlr_homologado_unitario  10 non-null     object
 31  vlr_item                 10 non-null     object
 32  vlr_item_cotado          10 non-null     object
 33  vlr_minimo_global        10 non-null     object
 34  vlr_referencia_unitario  10 non-null     object
dtypes: object(35)
memory usage: 2.9+ KB

In [6]:
df_homologacao_test

,__time,ano_exercicio,cod_entidade,cod_entidade_entrega,cod_municipio,data_cotacao,data_cotacao_show,data_homologacao,data_homologacao_show,link_contrato,...,unidade_medida,uuid_homologacao,uuid_homologado,uuid_licitacao,uuid_licitacao_item,vlr_homologado_unitario,vlr_item,vlr_item_cotado,vlr_minimo_global,vlr_referencia_unitario
0,2020-07-24T00:00:00.000Z,,,a,,2014-09-22,2014-09-22,a,a,a,...,UNIDADE,,a,1e6cef00-21a9-4237-9e22-02e8cb0ea033,0000031d-5604-4675-850f-85831f7f77da,,532.5,,,
1,2020-07-24T00:00:00.000Z,,,a,,2015-01-12,2015-01-12,a,a,a,...,M,,a,dc75f186-86e2-4a9e-b685-2e64fe66a457,00000527-b9e1-4a32-8943-24584cfbccbe,,19.36,,,
2,2020-07-24T00:00:00.000Z,,,a,,2016-07-13,2016-07-13,a,a,a,...,MT,,a,755008c3-ee4b-4c1a-b3bf-da590f39e605,00000656-f66d-4151-9134-58082148890b,,28.76,,,
3,2020-07-24T00:00:00.000Z,,,a,,2014-02-12,2014-02-12,a,a,a,...,UNIDADE,,a,aebce35b-7a41-44cf-9f48-659ece7a87ab,000006a6-3c5c-41ec-a29f-6b722b7ac86b,,6.17,,,
4,2020-07-24T00:00:00.000Z,,,a,,2014-02-13,2014-02-13,a,a,a,...,COMPRIMIDO,,a,ea3f2f56-00e1-4da3-9177-014fa6658b45,000006bd-c598-40f6-8935-602bd681faee,,0.06,,,
5,2020-07-24T00:00:00.000Z,,,a,,2014-01-22,2014-01-22,a,a,a,...,UNIDADE,,a,7a053c5a-b669-4640-9e43-cbb084e8a82c,000006db-e1ed-4c9c-8db8-48d1fa10a562,,43.65,,,
6,2020-07-24T00:00:00.000Z,,,a,,2014-01-02,2014-01-02,a,a,a,...,UND,,a,c4b5e5c9-aa06-4c55-b5de-4c28c702a5ab,000006fc-7516-409d-9cc5-a9eda75ae63e,,9.69,,,
7,2020-07-24T00:00:00.000Z,,,a,,2017-02-08,2017-02-08,a,a,a,...,UND,,a,55911f30-9bdb-410b-b400-3c6f701712ac,00000c46-f389-42a4-a0b4-14513d94dd3a,,0.24,,,
8,2020-07-24T00:00:00.000Z,,,a,,2014-06-09,2014-06-09,a,a,a,...,PECA,,a,de31f511-4585-4f40-ae7b-a1efab7d845e,00000cb5-7e53-44c8-94dd-4995ae82a231,,7.7,,,
9,2020-07-24T00:00:00.000Z,,,a,,2015-02-25,2015-02-25,a,a,a,...,UNIDADE,,a,94352164-e17c-4588-a0f8-7a1c236c5b86,000012ac-13ba-43bb-86aa-178463c7351d,,21.0,,,

# Homologacao

In [4]:
query_homologacao = """
    SELECT ALL
        uuid_licitacao,
        uuid_licitacao_item,
        nome_item,
        unidade_medida,
        vlr_item,
        ano_exercicio
    FROM fato_licitacao_homologacao
    WHERE metadata_id_carga = 75
"""

In [5]:
df_homologacao = pd.read_sql_query(query_homologacao, con=conn)

In [6]:
df_homologacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7826642 entries, 0 to 7826641
Data columns (total 6 columns):
 #   Column               Dtype
---  ------               -----
 0   uuid_licitacao       object
 1   uuid_licitacao_item  object
 2   nome_item            object
 3   unidade_medida       object
 4   vlr_item             object
 5   ano_exercicio        object
dtypes: object(6)
memory usage: 358.3+ MB

In [ ]:
df_homologacao.head()

In [ ]:
set(df_homologacao['ano_exercicio'])

In [ ]:
df_homologacao = df_homologacao.drop('ano_exercicio', axis=1)

In [ ]:
len(set(df_homologacao['uuid_licitacao']))

# Licitacao

In [ ]:
query_licitacao = """
    SELECT ALL
        uuid_licitacao,
        ano_exercicio
    FROM fato_licitacao
"""

In [ ]:
df_licitacao = pd.read_sql_query(query_licitacao, con=conn)

In [ ]:
df_licitacao.info()

In [ ]:
set(df_licitacao['ano_exercicio'])

In [ ]:
len(df_licitacao.drop_duplicates())

In [ ]:
df_licitacao = df_licitacao.drop_duplicates(['uuid_licitacao'], keep='last')

In [ ]:
set(df_licitacao['ano_exercicio'])

In [ ]:
df = pd.merge(df_homologacao, df_licitacao, left_on='uuid_licitacao', right_on='uuid_licitacao')

In [ ]:
df = df.rename({'uuid_licitacao': 'seq_dim_licitacao', 'uuid_licitacao_item': 'seq_dim_item', \
                'vlr_item': 'vlr_unitario_homologado', 'nome_item': 'nom_item', 'unidade_medida': 'dsc_unidade_medida', \
                'ano_exercicio': 'num_exercicio'}, axis=1)

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
set(df['num_exercicio'])

In [ ]:
len(set(df['seq_dim_licitacao']))

In [ ]:
df['num_exercicio'].isnull().sum()

In [ ]:
df.to_csv('../dados/dataset_item_druid.csv', sep=';')

# SQLAlchemy

In [8]:
from sqlalchemy import *
from sqlalchemy.engine import create_engine
from sqlalchemy.schema import *

In [9]:
url_to_druid = 'druid://hadoopmn-gsi-prod02.mpmg.mp.br:8888/druid/v2/sql'

In [10]:
engine = create_engine(url_to_druid, pool_pre_ping=True)

engine.connect()

In [138]:
engine

Engine(druid://hadoopmn-gsi-prod03.mpmg.mp.br:8888/druid/v2/sql)

In [139]:
table = Table('fato_licitacao_homologacao', MetaData(bind=engine), autoload=True)

In [140]:
table

Table('fato_licitacao_homologacao', MetaData(bind=Engine(druid://hadoopmn-gsi-prod03.mpmg.mp.br:8888/druid/v2/sql)), Column('__time', TIMESTAMP(), table=<fato_licitacao_homologacao>, nullable=False), Column('ano_exercicio', String(), table=<fato_licitacao_homologacao>), Column('cod_entidade', String(), table=<fato_licitacao_homologacao>), Column('cod_entidade_entrega', String(), table=<fato_licitacao_homologacao>), Column('cod_municipio', String(), table=<fato_licitacao_homologacao>), Column('data_cotacao', String(), table=<fato_licitacao_homologacao>), Column('data_cotacao_show', String(), table=<fato_licitacao_homologacao>), Column('data_homologacao', String(), table=<fato_licitacao_homologacao>), Column('data_homologacao_show', String(), table=<fato_licitacao_homologacao>), Column('link_contrato', String(), table=<fato_licitacao_homologacao>), Column('mes_licitacao', String(), table=<fato_licitacao_homologacao>), Column('metadata_data_ingestao', String(), table=<fato_licitacao_homologacao>), Column('metadata_id_carga', String(), table=<fato_licitacao_homologacao>), Column('nome_entidade_entrega', String(), table=<fato_licitacao_homologacao>), Column('nome_homologado', String(), table=<fato_licitacao_homologacao>), Column('nome_item', String(), table=<fato_licitacao_homologacao>), Column('nome_lote', String(), table=<fato_licitacao_homologacao>), Column('num_contrato', String(), table=<fato_licitacao_homologacao>), Column('num_cpf_cnpj_homologado', String(), table=<fato_licitacao_homologacao>), Column('num_item', String(), table=<fato_licitacao_homologacao>), Column('num_lote', String(), table=<fato_licitacao_homologacao>), Column('percent_referencia', String(), table=<fato_licitacao_homologacao>), Column('qtde_item', String(), table=<fato_licitacao_homologacao>), Column('qtde_item_cotado', String(), table=<fato_licitacao_homologacao>), Column('qtde_item_homologado', String(), table=<fato_licitacao_homologacao>), Column('unidade_medida', String(), table=<fato_licitacao_homologacao>), Column('uuid_homologacao', String(), table=<fato_licitacao_homologacao>), Column('uuid_homologado', String(), table=<fato_licitacao_homologacao>), Column('uuid_licitacao', String(), table=<fato_licitacao_homologacao>), Column('uuid_licitacao_item', String(), table=<fato_licitacao_homologacao>), Column('vlr_homologado_unitario', String(), table=<fato_licitacao_homologacao>), Column('vlr_item', String(), table=<fato_licitacao_homologacao>), Column('vlr_item_cotado', String(), table=<fato_licitacao_homologacao>), Column('vlr_minimo_global', String(), table=<fato_licitacao_homologacao>), Column('vlr_referencia_unitario', String(), table=<fato_licitacao_homologacao>), schema=None)

In [109]:
print(select([func.count('*')], from_obj=table).scalar())

1194287932

In [149]:
# query_result = select([column('uuid_licitacao'), column('nome_item'), column('unidade_medida'), column('vlr_item'), column('ano_exercicio')], from_obj=table).where(table.c.metadata_id_carga == 75)
query_result = select([table.c.uuid_licitacao, table.c.nome_item, table.c.unidade_medida, table.c.vlr_item, table.c.ano_exercicio]).where(table.c.metadata_id_carga == 75)

In [142]:
query_result

In [119]:
query_homologacao = """
    SELECT ALL
        uuid_licitacao,
        uuid_licitacao_item,
        nome_item,
        unidade_medida,
        vlr_item,
        ano_exercicio
    FROM fato_licitacao_homologacao
    WHERE metadata_id_carga = 75
"""

In [154]:
df_homologacao = pd.read_sql_query(query_result, con=engine)

In [155]:
df_homologacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11363881 entries, 0 to 11363880
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   uuid_licitacao  object
 1   nome_item       object
 2   unidade_medida  object
 3   vlr_item        object
 4   ano_exercicio   object
dtypes: object(5)
memory usage: 433.5+ MB

# DB API

In [60]:
curs = conn.cursor()

In [61]:
query_homologacao = """
    SELECT ALL
        uuid_licitacao,
        uuid_licitacao_item,
        nome_item,
        unidade_medida,
        vlr_item,
        ano_exercicio
    FROM fato_licitacao_homologacao
    WHERE metadata_id_carga = 75
"""

In [62]:
curs.execute(query_homologacao)

In [63]:
curs.rowcount

7826642

In [64]:
rows = curs.fetchall()

In [65]:
len(rows)

7826642